

body{    
    background-color: #FFFDD0;
}

h1 {
    color: purple;
   
    text-align: center;
}

button {
    background-color: lightblue;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}
button:hover {
    background-color: gray;
    color: black;
}