<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Available Desktops</title>
    </head>
    <body>
        <h1>Available Desktops</h1>
        <div style="text-align:center;">
            <form method="POST">
                {% for option in options %}
                    <label>
                        <input type="radio" name="desktop" value="{{ option }}"
                            {% if option in taken %}disabled{% endif %} required>
                        {{ option }} {% if option in taken %}(Taken){% endif %}
                    </label><br>
                {% endfor %}
                <br>
                <input type="submit" value="Reserve">
            </form>
            {% if success is defined %}
                    <p style="color:green;">Reservation successful!</p>
            {% endif %}
            <br>
            <button class="btn" type="button" onclick="window.location.href='{{ url_for('index') }}';">Return to Home</button>
        </div>
    </body>
</html>