<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>PUMICE</title>
    </head>
    <body>
        <div style="position: fixed; bottom: 20px; right: 20px;">
            <button class="btn" type="button"
                    onclick="window.location.href='{{ url_for('admin1') }}';"
                    style="opacity:0; width:1px; height:1px; position:absolute; bottom:0; right:0; z-index:1;">
                Admin
            </button>
        </div>
        <h1>Welcome to PUMICE</h1>
        <div style="text-align:center;">
            <button class="btn" type="button"
                    onclick="window.location.href='{{ url_for('login') }}';">
                Click here to reserve a desktop
            </button>
        </div>
        <!--button class="btn" type="button" onclick="window.location.href='{{ url_for('participants') }}';">Check participant list</button-->
    </body>
</html>