<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Login to continue</title>
    </head>
    <body>
        <br>
        <br>
        <form method="POST">
            <div style="text-align: center;">
                {% if error %}
                    <p style="color:red;">{{ error }}</p>
                {% endif %}
                <label>Enter Name:</label>
                <input type="text" name="name" placeholder="Enter your name" required><br/>
                <label>Enter Password:</label>
                <input type="password" name="password" placeholder="Enter your password" required><br/>
                <input type="submit" value="submit"/><br/>
                <br>
                <br>
                <br>
                <br> 
                <button class="btn" type="button" onclick="window.location.href='{{ url_for('join') }}';">
                    If you don't have a login register here
                </button>
            </div>
        </form>
    </body>
</html>