<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>PUMICE</title>
    </head>
    <body>
        <div style="text-align:center;">
            <img src="{{ url_for('static', filename='images.png') }}" alt="Success Image" style="display:block; margin: 0 auto;">
        </div>
        <h1>Success!</h1>
        <div style="text-align:center;">
            <button class="btn" type="button"
                    onclick="window.location.href='{{ url_for('home') }}';">
                Return to Home
            </button>
        </div>
    </body>
</html>