<!DOCTYPE html>
<html>
    <head>
        <title>Admin Only</title>
    </head>
    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>
    <body>
        <table style="width:100%">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Reason</th>
              <th>Desktop Booked</th>
            </tr>
            {% for participant in data %}
               <tr>
                 <td>{{ participant[0] }}</td>
                 <td>{{ participant[1] }}</td>
                 <td>{{ participant[2] or '' }}</td>
                 <td>{{ participant[3] or '' }}</td>
                </tr>
            {% endfor %}
        </table>          
    </body>
</html>